.vinery-show {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: $font-verdana;

  .title {
    color: $color-dark-burgundy;
    font-size: 24px;
    font-family: $font-courier;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .basic-info {
    display: flex;
    flex-direction: row;

    .image {
      img {
        max-width: 300px;
        height: auto;
        max-height: 500px;
      }
    }

    .info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .foundation-year, .location, .contact {
        display: flex;
        flex-direction: row;
        margin-top: 3px;

        .label {
          margin-right: 5px;
        }
      }
    }
  }

  .description {
    margin-top: 10px;
  }
}

