.vineries-search
  = render '/vineries/index/search'

  - @vineries.each do |vinery|
    .vinery
      a.title href=vinery_path(vinery)
        = vinery.name
      .foundation-year
        p.label
          | Rok założenia:
        p
          = vinery.foundation_year.presence || '-'
      .location
        p.label
          | Adres:
        p
          = vinery.location.presence || '-'
      .contact
        p.label
          | Kontakt:
        p
          = vinery.contact.presence || '-'

  .pagination
    = will_paginate @vineries
