.vinery-show
  .title
    p
      = @vinery.name
  .basic-info
    .image
      img src=@vinery.image_url
    .info
      .foundation-year
        p.label
          | Rok założenia:
        p
          = @vinery.foundation_year.presence || '-'
      .location
        p.label
          | Adres:
        p
          = @vinery.location.presence || '-'
      .contact
        p.label
          | Kontakt:
        p
          = @vinery.contact.presence || '-'

  .description
    p = @vinery.description
