.admin-form {
  display: flex;
  flex-direction: column;
  font-family: $font-verdana;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
  }

  form {
    margin-top: 20px;

    .option {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      align-items: baseline;

      .label, .select-list, .text-input, .text-area {
        flex-basis: 20%;
      }

      .select-list, .text-input, .text-area {
        border-radius: 5px;
        border: 1px solid $color-blue;
      }

      .label {
        color: $color-dark-blue;
        font-weight: 700;
      }

      .select-list {
        min-width: 250px;
        height: 30px;
        background-color: white;
        color: $color-blue;
        font-weight: 700;
      }

      .text-input {
        min-width: 75%;
        height: 20px;
        color: $color-blue;
        padding: 3px;
      }

      .text-area {
        min-width: 75%;
        min-height: 300px;
        padding: 3px;
      }

      .checkbox {
        width: 20px;
        height: 20px;
        margin-top: 5px;
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    .submit-wrapper {
      text-align: center;
      margin-top: 30px;

      .submit {
        background-color: $color-blue;
        color: $color-white;
        width: 100px;
        height: 30px;
        border: none;
        font-weight: 700;

        &:hover {
          background-color: $color-dark-blue;
          color: white;
          transition: 0.3s;
        }
      }
    }
  }
}
