.admin-index {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: $font-verdana;
    margin-top: 20px;
  }

  .search {
    height: 40px;
    margin-top: 20px;

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;

      .input {
        width: 75%;
        height: 25px;
        border: 1px solid $color-dark-blue;
        border-radius: 5px;
        color: $color-dark-blue;
        font-size: 16px;
        padding-left: 5px;
      }

      .submit {
        background-color: $color-blue;
        color: $color-white;
        width: 100px;
        height: 30px;
        border: none;
        font-weight: 700;

        &:hover {
          background-color: $color-dark-blue;
          color: white;
          transition: 0.3s;
        }
      }
    }
  }

  .new {
    margin-bottom: 10px;

    a {
      background-color: $color-blue;
      color: $color-white;
      width: 120px;
      height: 30px;
      border: none;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      text-align: center;

      &:hover {
        background-color: $color-dark-blue;
        color: white;
        transition: 0.3s;
      }
    }
  }

  .collection {
    font-family: $font-verdana;

    .title-row {
      display: flex;
      flex-direction: row;
      color: white;
      background: $color-blue;
      font-weight: 700;
      padding: 5px;

      .element {
        flex-basis: 100%;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      background-color: $color-white;
      padding: 5px;
      margin-top: 5px;
      color: $color-dark-blue;

      .element {
        flex-basis: 100%;
      }

      .action-buttons {
        a {
          text-decoration: none;
          color: $color-blue;
          margin-right: 5px;

          &:hover {
            color: $color-dark-blue;
          }
        }
      }
    }
  }

  .pagination {
    text-align: center;
    margin-top: 20px;
    color: $color-blue;
    font-size: 20px;
    font-weight: 700;

    a {
      text-decoration: none;
      color: $color-dark-blue;
    }
  }
}
