.admin-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: calc(100%-25px);
  background-color: $color-blue;
  padding-top: 25px;

  .item {
    color: $color-white;
    text-decoration: none;
    font-family: $font-courier;
    font-weight: 700;
    font-size: 18px;
    padding: 5px;

    &:hover {
      color: white;
      background-color: $color-dark-blue;
      transition: 0.3s;
    }
  }
}