.wines-search {
  color: black;

  .wine {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 10px;
    border-left: 10px solid $color-burgundy;
    border-top: 1px solid $color-burgundy;
    border-bottom: 1px solid $color-burgundy;
    padding-left: 5px;

    .column-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;

      img {
        width: auto;
        height: 90px;
      }
    }

    .column-text {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 20px;
        font-family: $font-courier;
        color: $color-dark-burgundy;
        font-weight: 700;
        margin-top: 5px;
        text-decoration: none;
      }

      .vinery, .color, .sweetness, .alcohol_percent {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        font-family: $font-verdana;
        margin-top: 3px;

        a {
          color: $color-burgundy;
          text-decoration: none;
          font-weight: 700;
        }
      }

      .label {
        margin-right: 5px;
      }
    }
  }

  .pagination {
    text-align: center;
    color: $color-burgundy;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: $color-dark-burgundy;
    }
  }
}