ruby:
  searched_phrase = params[:search]&.[](:phrase)

.admin-index
  .title
    p
      | Winnice
  .search
    = form_for :search, url: admin_vineries_path, method: 'GET' do |f|
      = f.text_field :phrase, value: searched_phrase, class: 'input'

      = f.submit 'Wyszukaj', class: 'submit'
  .new
    a href=new_admin_vinery_path
      | Dodaj winnicę
  .collection
    .title-row
      .element
        p Nazwa
      .element
        p Rok założenia
      .element
        p Istnieje
      .element
        p Akcje

    - @vineries.each do |vinery|
      .row
        .element
          p = vinery.name
        .element
          p = vinery.foundation_year
        .element
          p = vinery.existing ? 'Tak' : 'Nie'
        .element.action-buttons
          a href=edit_admin_vinery_path(vinery)
            | Edytuj
          a href="/admin/vineries/#{vinery.id}" data-confirm='Jesteś pewien?' data-method='delete'
            | Usuń
  .pagination
    = will_paginate @vineries
