.admin-form
  .title
    p Dodaj Winnicę

  = form_for @vinery, url: { controller: 'admin/vineries', action: 'create' } do |f|
    .option
      p.label Nazwa
      = f.text_field :name, class: 'text-input'
    .option
      p.label Kontakt
      = f.text_field :contact, class: 'text-input'
    .option
      p.label Lokalizacja
      = f.text_field :location, class: 'text-input'
    .option
      p.label Rok założenia
      = f.select :foundation_year, (1900..Time.now.year), {}, { class: 'select-list' }
    .option
      p.label Czy istnieje obecnie
      = f.check_box :existing, class: 'checkbox'
    .option
      p.label URL obrazka
      = f.url_field :image_url, class: 'text-input'
    .option
      p.label Opis
      = f.text_area :description, class: 'text-area'

    .submit-wrapper
      = f.submit 'Zapisz', class: 'submit'
