.admin-menu
  a.item href=root_path
    | Home
  a.item href=admin_dashboard_path
    | Dashboard
  a.item href=admin_users_path
    | Użytkownicy
  a.item href=admin_wines_path
    | Wina
  a.item href=admin_vineries_path
    | Winnice
  a.item href='/logout'
    | Wyloguj
