html {
  height: 100%;
}

body {
  height: 100%;
}

.admin {
  max-width: 1000px;
  height: 100%;
  background-color: $color-grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;

  .container {
    min-width: calc(100% - 220px);
    padding: 10px;
  }
}
