html {
  height: 100%;
}

body {
  height: 100%;
}

.main {
  max-width: 1000px;
  height: calc(100% - 200px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;

  .container {
    min-width: calc(100% - 220px);
    color: $color-white;
    padding: 10px;
  }
}
