.menu
  - if @current_user.present?
    a.item href=root_path
      | Home
    a.item href=wines_path
      | Wina
    a.item href=vineries_path
      | Winnice
    - if @current_user.admin?
      a.item href=admin_dashboard_path
        | Admin Panel
    a.item href='/logout'
      | Wyloguj
  - else
    a.item href=root_path
      | Home
    a.item href=wines_path
      | Wina
    a.item href=vineries_path
      | Winnice
    a.item href=register_form_path
      | Rejestracja
    a.item href=login_form_path
      | Logowanie
