.dashboard {
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;

    p {
      font-size: 30px;
      color: white;
      font-weight: 700;
      font-family: $font-verdana;
      text-align: center;
    }
  }
}