.home
  p.text
    | Witaj na naszej stronie, jeśli uwielbiasz wino tak jak my, na pewno znajdziesz tutaj coś dla siebie
  img src='https://static01.nyt.com/images/2020/01/30/dining/30pour/30pour-superJumbo.jpg'