.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    max-width: 750px;
    font-family: $font-verdana;
    color: $color-dark-burgundy;
    text-align: center;
    font-size: 26px;
  }

  img {
    margin-top: 20px;
    max-width: 750px;
    height: auto;
  }
}
