ruby:
  errors = @user.errors.messages

.login-form
  = form_for @user, url: { controller: 'authentication', action: 'login' }, method: :post do |f|
    .input
      p.label
        | Email
      = f.text_field :email, class: "#{'error' if errors.include?(:email)}"
      - if errors.include?(:email)
        .error-message
          p
            = errors[:email].first

    .input
      p.label
        | Hasło
      = f.password_field :password, class: "#{'error' if errors.include?(:password)}"
      - if errors.include?(:password)
        .error-message
          p
            = errors[:password].first

    = f.submit 'Zaloguj', class: 'submit'
