ruby:
  errors = @user.errors.messages

.register-form
  = form_for @user, url: { controller: 'authentication', action: 'register' } do |f|
    .input
      p.label
        | Nazwa
      = f.text_field :name, class: "#{'error' if errors.include?(:name)}"
      .error-message
        p
          - if errors.include?(:name)
            = errors[:name].first

    .input
      p.label
        | Email
      = f.text_field :email, class: "#{'error' if errors.include?(:email)}"
      - if errors.include?(:email)
        .error-message
          p
            = errors[:email].first

    .input
      p.label
        | Hasło
      = f.password_field :password, class: "#{'error' if errors.include?(:password)}"
      - if errors.include?(:password)
        .error-message
          p
            = errors[:password].first

    = f.submit 'Zarejestruj', class: 'submit'
