.search-form {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .input {
    width: 75%;
    height: 25px;
    border: 1px solid $color-dark-burgundy;
    border-radius: 5px;
    color: $color-dark-burgundy;
    font-size: 16px;
    padding-left: 5px;
  }

  .submit {
    background-color: $color-burgundy;
    color: $color-white;
    width: 100px;
    height: 30px;
    border: none;
    font-weight: 700;

    &:hover {
      background-color: $color-dark-burgundy;
      color: white;
      transition: 0.3s;
    }
  }
}