ruby:
  searched_phrase = params[:search]&.[](:phrase)

.search-form
  = form_for :search, url: wines_path, method: 'GET' do |f|
    = f.text_field :phrase, value: searched_phrase, class: 'input'

    = f.submit 'Wyszukaj', class: 'submit'
