$color-burgundy: #900C3F;
$color-dark-burgundy: #5B0224;
$color-white: #FDFEFE;
$color-light-grey: #E9E9E9;
$color-grey: #CFCFCF;
$color-dark-grey: #808080;
$color-red: #DF1404;
$color-light-blue: #01BABD;
$color-blue: #028F92;
$color-dark-blue: #005D5E;
