.banner {
  min-width: 100%;
  height: 200px;
  background-color: $color-burgundy;
  display: flex;
  flex-direction: row;

  .logo-wrapper {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    min-height: 200px;

    img {
      max-width: 100%;
      max-height: auto;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    display: row;
    width: 100%;

    p {
      font-family: $font-courier;
      color: $color-white;
      font-weight: 700;
      font-size: 26px;
    }
  }
}