.menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 100%;
  background-color: $color-burgundy;

  .item {
    color: $color-white;
    text-decoration: none;
    font-family: $font-courier;
    font-weight: 700;
    font-size: 18px;
    padding: 5px;

    &:hover {
      color: white;
      background-color: $color-dark-burgundy;
      transition: 0.3s;
    }
  }
}