ruby:
  searched_phrase = params[:search]&.[](:phrase)

.admin-index
  .title
    p
      | Użytkownicy
  .search
    = form_for :search, url: admin_users_path, method: 'GET' do |f|
      = f.text_field :phrase, value: searched_phrase, class: 'input'

      = f.submit 'Wyszukaj', class: 'submit'
  .collection
    .title-row
      .element
        p Nazwa
      .element
        p Email
      .element
        p Rola

    - @users.each do |user|
      .row
        .element
          p = user.name
        .element
          p = user.email
        .element
          p = t("activerecord.attributes.user.roles.#{user.role}")
  .pagination
    = will_paginate @users
