.login-form {
  display: flex;
  justify-content: center;

  .new_user {
    max-width: 250px;
  }

  .input {
    margin-top: 10px;
    height: 60px;

    .label {
      color: $color-dark-burgundy;
      font-family: $font-courier;
    }

    input {
      border: 1px solid $color-dark-burgundy;
      color: $color-dark-burgundy;
      height: 20px;
      width: 250px;
      font-size: 16px;
      border-radius: 2px;
    }

    .error {
      border: 1px solid $color-red;
    }

    .error-message {
      color: $color-red;
      font-size: 14px;
    }
  }

  .submit {
    margin-top: 10px;
    background-color: $color-burgundy;
    color: $color-white;
    width: 100px;
    height: 30px;
    border: none;
    font-weight: 700;

    &:hover {
      background-color: $color-dark-burgundy;
      color: white;
      transition: 0.3s;
    }
  }
}