ruby:
  searched_phrase = params[:search]&.[](:phrase)

.admin-index
  .title
    p Wina
  .search
    = form_for :search, url: admin_wines_path, method: 'GET' do |f|
      = f.text_field :phrase, value: searched_phrase, class: 'input'

      = f.submit 'Wyszukaj', class: 'submit'
  .new
    a href=new_admin_wine_path
      | Dodaj wino
  .collection
    .title-row
      .element
        p Nazwa
      .element
        p Kolor
      .element
        p Smak
      .element
        p Alkohol
      .element
        p Akcje

    - @wines.each do |wine|
      .row
        .element
          p = wine.name
        .element
          p = t("activerecord.attributes.wine.colors.#{wine.color}")
        .element
          p = t("activerecord.attributes.wine.sweetnesses.#{wine.sweetness}")
        .element
          p = "#{wine.alcohol_percent.presence || '-'}%"
        .element.action-buttons
          a href=edit_admin_wine_path(wine)
            | Edytuj
          a href="/admin/wines/#{wine.id}" data-confirm='Jesteś pewien?' data-method='delete'
            | Usuń
  .pagination
    = will_paginate @wines
