.admin-form
  .title
    p Dodaj Wino

  = form_for @wine, url: { controller: 'admin/wines', action: 'create' } do |f|
    .option
      p.label Nazwa
      = f.text_field :name, class: 'text-input'
    .option
      p.label Winiarnia
      = f.select :vinery_id, Vinery.all.pluck(:name, :id), {}, { class: 'select-list' }
    .option
      p.label Kolor
      = f.select :color, Wine.colors.transform_keys { |k| t("activerecord.attributes.wine.colors.#{k}") }, {}, { class: 'select-list' }
    .option
      p.label Smak
      = f.select :sweetness, Wine.sweetnesses.transform_keys { |k| t("activerecord.attributes.wine.sweetnesses.#{k}") }, {}, { class: 'select-list' }
    .option
      p.label Procent alkoholu
      = f.select :alcohol_percent, (0..50), {}, { class: 'select-list' }
    .option
      p.label URL obrazka
      = f.url_field :image_url, class: 'text-input'
    .option
      p.label Opis
      = f.text_area :description, class: 'text-area'

    .submit-wrapper
      = f.submit 'Utwórz', class: 'submit'
