.wines-search
  = render '/wines/index/search'

  - @wines.each do |wine|
    .wine
      .column-image
        img src=wine.image_url
      .column-text
        a.title href=wine_path(wine)
          = wine.name
        .vinery
          p.label
            | Winiarnia:
          a href=vinery_path(wine.vinery)
            = wine.vinery.name
        .color
          p.label
            | Kolor:
          p
            = t("activerecord.attributes.wine.colors.#{wine.color}")
        .sweetness
          p.label
            | Smak:
          p
            = t("activerecord.attributes.wine.sweetnesses.#{wine.sweetness}")
        .alcohol_percent
          p.label
            | Alkohol:
          p
            = "#{wine.alcohol_percent.presence || '-'}%"

  .pagination
    = will_paginate @wines

