.wine-show
  .title
    p
      = @wine.name
  .basic-info
    .image
      img src=@wine.image_url
    .info
      .vinery
        p.label
          | Winiarnia:
        a href=vinery_path(@wine.vinery)
          = @wine.vinery.name
      .color
        p.label
          | Kolor:
        p
          = t("activerecord.attributes.wine.colors.#{@wine.color}")
      .sweetness
        p.label
          | Smak:
        p
          = t("activerecord.attributes.wine.sweetnesses.#{@wine.sweetness}")
      .alcohol_percent
        p.label
          | Alkohol:
        p
          = "#{@wine.alcohol_percent.presence || '-'}%"

  .description
    = @wine.description
