doctype html
html
  head
    title WineGeeks
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicon.png'
    = javascript_pack_tag 'application', 'data-turbolinks-track' => true

  body
    .main
      = render 'shared/banner'
      = render 'shared/menu'
      .container
        = yield
